<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.loa.mapper.EponaMapper">
	
	<select id="listHasChar" resultType="com.loa.model.EponaDTO">
		select * from epona e, charic c
			where e.charic = c.name
			order by c.orders asc, e.sumpoint-e.currpoint desc
	</select>
	
	<select id="listHasntChar" resultType="com.loa.model.EponaDTO">
		select * from epona
			where charic is null
			order by sumpoint-currpoint desc
	</select>
	
	<select id="info" resultType="com.loa.model.EponaDTO">
		select * from epona where name=#{name}
	</select>
	
	<update id="update">
		update epona set currPoint=#{currPoint}, charic=#{charic} where name=#{name}
	</update>
	
</mapper>


	